{
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jest": true
	},
	"extends": [
		"react-app",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:jest/recommended",
		"plugin:jsx-a11y/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"experimentalObjectRestSpread": true
		},
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"plugins": ["jsx-a11y", "react", "jest"],
	"settings": {
		"react": {
			"version": "15.0"
		}
	},
	"rules": {
		"no-unused-expressions": "error",
		"no-param-reassign": "off",
		"arrow-parens": ["error", "as-needed"],
		"arrow-body-style": [
			"error",
			"as-needed",
			{ "requireReturnForObjectLiteral": false }
		],
		"comma-dangle": ["error", "only-multiline"],
		"import/no-extraneous-dependencies": 0,
		"import/prefer-default-export": 0,
		"indent": ["error", 4, { "SwitchCase": 1 }],
		"max-len": 0,
		"no-console": 0,
		"jsx-a11y/img-redundant-alt": 0,
		"jsx-a11y/anchor-is-valid": 0,
		"jsx-a11y/href-no-hash": 0,
		"jsx-a11y/alt-text": 0,
		"jsx-a11y/no-noninteractive-element-interactions": [
			0,
			{
				"handlers": [
					"onClick",
					"onMouseDown",
					"onMouseUp",
					"onKeyPress",
					"onKeyDown",
					"onKeyUp"
				]
			}
		],
		"react/prop-types": 0,
		"react/forbid-prop-types": 0,
		"react/jsx-curly-brace-presence": "off",
		"react/jsx-first-prop-new-line": [2, "multiline"],
		"react/jsx-filename-extension": 0,
		"react/require-default-props": 0,
		"react/self-closing-comp": 0
	}
}